<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's Meet</title>
    <link rel="icon" type="image/x-icon" href="image-assets/logo-main.png" />
    <link rel="stylesheet" href="css/style-room.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      rel="stylesheet"
    />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elliptic/6.5.4/elliptic.min.js"></script>
  </head>

  <body>
    <div id="form" class="glow">
      <div id="content">
        <div class="left-content">
          <div class="top-left">
            <div class="header" style="display: flex; align-items: center">
              <img
                src="image-assets/logo-main.png"
                style="height: 40px; width: auto; margin-right: 10px"
              />
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                "
              >
                <p style="margin: 0; font-weight: bold; color: #ffffff">
                  Let's Meet
                </p>
                <p
                  id="date"
                  style="margin: 0; font-size: 10pt; color: #ffffff"
                ></p>
              </div>
            </div>

            <div class="invite" onclick="copyRoomId()">
              <a
                class="btn waves-effect waves-light"
                style="
                  background-color: rgba(255, 255, 255, 0.2);
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                <i class="material-icons left">content_copy</i>
                Invitation Link
              </a>
            </div>
            <!--End of header-->
          </div>
          <!--End of top-left-->
          <div class="middle-left">
            <video
              id="main-video"
              title="Double click to display fullscreen."
              ondblclick="fullscreen()"
              autoplay
            ></video>
            <div id="video-grid"></div>
            <!--End of video-grid-->
          </div>
          <!--End of middle-left-->
          <div id="bot-left">
            <div class="command-btn" id="audioControl" onclick="muteUnmute()">
              <i class="material-icons">&#xe029;</i>
              <p class="label">Mic</p>
            </div>
            <div class="command-btn" id="videoControl" onclick="playStop()">
              <i class="material-icons">&#xe04b;</i>
              <p class="label">Cam</p>
            </div>
            <div class="command-btn" id="shareControl" onclick="shareScreen()">
              <i class="material-icons">&#xe0df;</i>
              <p class="label">Share</p>
            </div>
            <div
              class="command-btn"
              id="recordControl"
              onclick="recordMeeting()"
            >
              <i class="material-icons">&#xe061;</i>
              <p class="label">Record</p>
            </div>
            <div class="command-btn" id="power" onclick="leaveMeeting()">
              <i class="material-icons">call_end</i>
              <p class="label">End</p>
            </div>
          </div>
          <!--End of bot-left-->
        </div>
        <!--End of left-content-->
        <div id="right-content">
          <p
            style="
              margin: 15px;
              padding: 12px 0px 0px 10px;
              font-weight: bold;
              color: #f5f0f0;
            "
          >
            Chat with Friends
          </p>
          <div id="info">
            <p style="color: #ffffff; font-size: 11pt; padding: 5% 0px 0px 7%">
              People in room:
            </p>
            <p
              style="
                color: #ffffff;
                font-size: 35pt;
                padding: 0px 0px 0px 180px;
              "
              id="participant"
            ></p>
            <i
              class="material-icons"
              style="
                color: #ffffff;
                font-size: 35px;
                position: relative;
                bottom: 50px;
                left: 228px;
              "
              >&#xe7fd;</i
            >
          </div>
          <!--End of info-->
          <div id="chatroom"></div>
          <!--End of chatroom-->
          <div id="chatform">
            <label>
              <input
                type="file"
                id="file"
                style="display: none"
                onchange="selectFile(this.value)"
              />
              <i
                class="material-icons"
                style="
                  font-size: 18px;
                  color: #4f4f4f;
                  float: left;
                  margin-left: 10px;
                  margin-top: 15px;
                  transform: rotate(45deg);
                  cursor: pointer;
                "
                >&#xe226;</i
              >
            </label>
            <input id="textchat" type="text" placeholder="Type here ..." />
            <button
              id="sendMessage"
              style="
                background-color: #17151b;
                border: none;
                margin-left: 8px;
                padding: 4px 3px 2px 3px;
                margin-top: 8px;
                border-radius: 6px;
                cursor: pointer;
              "
            >
              <i
                class="material-icons"
                style="color: #ffffff; font-size: 25px; font-weight: bold"
                >&#xe315;</i
              >
            </button>
          </div>
          <!--End of chatform-->
        </div>
        <!--End of right-content-->
      </div>
      <!--End of content-->
    </div>
    <!--End of form-->
    <!--End of container-->

    <script>
      document.addEventListener("contextmenu", (event) =>
        event.preventDefault()
      );
      const days = [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
      ];
      const months = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ];
      let day = days[new Date().getDay()];
      let date = new Date().getDate();
      let month = months[new Date().getMonth()];
      let year = new Date().getFullYear();
      document.getElementById("date").innerHTML =
        day + ", " + date + " " + month + " " + year;

      const ROOM_ID = "<%= roomId %>";
      const USERNAME = "<%= username %>";

      function copyRoomId() {
        navigator.clipboard
          .writeText(ROOM_ID)
          .then(() => {
            // alert("Room ID copied to clipboard");
          })
          .catch((err) => {
            alert("Failed to copy Room ID: ", err);
          });
      }

      function fullscreen() {
        var mainVideo = document.getElementById("main-video");
        if (mainVideo.requestFullscreen) {
          mainVideo.requestFullscreen();
        }
      }

      var symbol, color;
      symbol = "0123456789ABCDEF";
      color = "#";
      for (var i = 0; i < 6; i++) {
        color = color + symbol[Math.floor(Math.random() * 16)];
      }
      const RANDOM_COLOR = color;
    </script>
    <script src="js/socket.js"></script>
    <script src="js/media.js"></script>
    <script src="js/videoManagement.js"></script>
    <script src="js/controls.js"></script>
    <script src="js/screenShare.js"></script>
    <script src="js/recording.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/meeting.js"></script>
  </body>
</html>
